.center-header{
	background-color:#f60;font-size:.32rem;text-align:center;padding:.4rem 0;
	.ch-avatar{
		width:2rem;height:2rem;border:.1rem solid #ff944d;border-radius:50%;margin:0 auto .2rem auto;background-color:#FFF;
		img{width:100%;height:100%;border-radius:50%;}
	}
	.ch-nickname{color:#FFF;margin-bottom:.2rem;}
	.ch-bean{color:#ffc104;font-size:.24rem;}
}

.center-menu{
	background-color:#FFF;font-size:.32rem;
	li{
		border-bottom:1px solid #cecece;
		a{
			display: block;height:1.19rem;line-height:1.19rem;padding-left:1.3rem;color:#333;position: relative;
			&:before{display: block;content:"";position: absolute;left:.45rem;top:.33rem;background-repeat:no-repeat;overflow:hidden;background-size:contain;}
			&:after{display: block;content:"";position: absolute;top:.5rem;right:.4rem;width:.16rem;height:.16rem;border-top:.04rem solid #d2d2d2;border-right:.04rem solid #d2d2d2;transform:rotate(45deg)}
			&.cm-reservation{
				&:before{background-image:url(../images/center/menu1.png);width:.49rem;height:.53rem;}
			}
			&.cm-order{
				&:before{background-image:url(../images/center/menu2.png);width:.47rem;height:.50rem;}
			}
			&.cm-address{
				&:before{background-image:url(../images/center/menu3.png);width:.38rem;height:.46rem;}
			}
		}
	}
}