.download_bg{
	background:url(../images/download/bg.png) no-repeat #ff6f05;width:100%;height:100%;background-size:contain;position: absolute;top:0;left:0;
	.download_btn{display: block;background-color:#ff6f05;color:#FFF;width:18rem;height:3.33rem;text-align:center;line-height:3.33rem;border-radius:1.66rem;margin:32.6rem auto 0 auto;font-size:1.4rem;}
}