			.my-coupon{
				height:100%;
				padding-bottom: .8rem;
			}
			.my-coupon .wrapdiv{
				height: 100%;
    			overflow: auto;
			}
			.my-coupon .mo-nav{
				border-bottom: 1px solid #d3d3d3;
    			background: #fff;
			}
			.my-coupon .mo-nav ul{
				    height: .9rem;
				    line-height: .9rem;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
			}
			.my-coupon .mo-nav ul li{
				    -webkit-box-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
				    font-size: .3rem;
				    height: 100%;
				    text-align: center;
				    position: relative;
			}
			.my-coupon .mo-nav ul li.active{
				    color: #f60;
			}
			.my-coupon .activation{
				    position: relative;
    				margin: .1rem;
			}
			.my-coupon .activation input{
				    height: .71rem;
				    display: inline-block;
				    vertical-align: middle;
				    width: 84%;
				    background: #fff;
				    border: none;
				    border-radius: 2px;
				    visibility: visible;
				    padding-left: .1rem;
			}
			.my-coupon .activation span{
				    line-height: 0.7rem;
				    display: inline-block;
				    vertical-align: middle;
				    width: 14%;
				    text-align: center;
				    background: #f60;
				    height: .67rem;
				    border-radius: 1px;
				    color: #fff;
			}
			.my-coupon .no-coupon{
				height: 10rem;
				background: url('../images/mycoupon/no-coupon.png') no-repeat center .5rem;
				background-position:center center;
				text-align: center;
			    font-size: .28rem;
			    padding-top: 6rem;
			    padding-right: .5rem;
			    color: #888;
			    display: none;
			}
			.my-coupon .get-coupon-button{
				z-index: 10;
			    border: 1px solid #d3d3d3;
			    position: fixed;
			    bottom: 0;
			    left: 0;
			    height: .8rem;
			    width: 100%;
			    background: #fff;
			    line-height: .8rem;
			    text-align: center;
			    color: #f60;
			}
			.my-coupon .get-coupon-button i{
			    display: inline-block;
			    width: .24rem;
			    height: .24rem;
			    border-left: 1px solid #f60;
			    border-bottom: 1px solid #f60;
			    -webkit-transform: rotate(225deg);
			    transform: rotate(225deg);
			}
			.my-coupon .get-coupon-button a{
			    color: #f60;
			}
			.my-coupon .coupon-list{
			    
			}
			.my-coupon .coupon-list ul li{
		        height: 2.4rem;
				background: url('../images/mycoupon/juchi.png') repeat-x #fff;
				background-size: .17rem .15rem;
				margin: .2rem .1rem 0rem .1rem;
			}
			.my-coupon .coupon-list ul li .div-inline *{
			    display: inline-block;
			}
			.my-coupon .coupon-list ul li .name-info{
			    height: 1.5rem;
    			line-height: 1.6rem;
    			border-bottom: solid 1px #f1f1f1;
			}
			.my-coupon .coupon-list ul li .name-info .left-div{
			    width: 48%;
    			margin-left: .2rem;
    			color: #ff575d;
    			vertical-align: middle;
			}
			.my-coupon .coupon-list ul li .name-info a{
				width: 49%;
			    text-align: right;
    			padding-right: .2rem;
    			color: #666;
    			height: 100%;
			    overflow: hidden;
			    vertical-align: middle;
			}
			.my-coupon .coupon-list ul li .name-info i{
				display: inline-block;
			    width: .24rem;
			    height: .24rem;
			    border-left: 1px solid #666;
			    border-bottom: 1px solid #666;
			    -webkit-transform: rotate(225deg);
			    transform: rotate(225deg);
			}
			.my-coupon .coupon-list ul li .name-info .text{
				height: 100%;
			    display: inline-block;
			    width: 90%;
			    vertical-align: middle;
   				line-height: 1.45rem;
			}
			.my-coupon .coupon-list ul li .date-info{
			    height: .8rem;
    			line-height: .9rem;
				color: #b6b6b6;
			}
			.my-coupon .coupon-list ul li .date-info p{
			    width: 60%;
			    margin-left: .2rem;
			    vertical-align: middle;
			}
			.my-coupon .coupon-list ul li .date-info .right-div{
			    width: 36%;
				text-align: right;
    			padding-right: .2rem;
    			height: 100%;
			    overflow-x: hidden;
			    vertical-align: middle;
			    overflow-y:hidden;
			}
			.my-coupon .coupon-intro{
			    display: inline-block;
			    position: absolute;
			    right: .1rem;
			    font-size: .28rem;
			    color: #666;
			}
			.my-coupon .no-coupon-tip{
			    text-align: center;
    			color: #999;
    		}