.order-detail{
    font-family: '微软雅黑';
}
.order-detail .num {
    height: .88rem;
    background: #FFFFFF;
    line-height: .88rem;
    margin-top: -.08rem;
}
.order-detail .num p {
    color: #333333;
    font-size: .28rem;
    padding-left: .2rem;
    display: inline-block;
}
.order-detail .num .ordernum {
    width: 88%;
}
.order-detail .num .orderstate {
    text-align: center;
    width: 10%;
    color: #f60;
}
.order-detail .address1 {
    background: url(../images/orderdetail/address_bg@2x.png) no-repeat;
    background-size: 100% 100%;
    height: 1.74rem;
    margin-top: .2rem;
    position: relative;
}

.order-detail .address1 img {
    height: 20%;
    width: 5%;
    display: inline-block;
    vertical-align: middle;
    margin: .9rem 0 0 .2rem;
    vertical-align: middle;
    margin: .2rem;
}

.order-detail .address1 .adinfo {
    float: right;
    height: 100%;
    width: 100%;
    padding: 0 .2rem 0 .8rem;
    background: url(../images/orderdetail/address@2x.png) no-repeat .3rem .8rem;
    background-size: .26rem .32rem;
}
.order-detail .address1 .adinfo p {
    margin: .35rem 0 .1rem 0;
    color: #343434;
    font-size: .28rem;
}
.adinfo span {
    font-size: .28rem;
    color: #666664;
}
.adinfo p span {
    color: #FFFFFF;
    background: #FF6501;
    padding: .02rem .1rem;
    font-size: .20rem;
    border-radius: .2rem;
}
.order-detail .line {
    height: .8rem;
    width: 100%;
    margin: .25rem 0 0 0;
    background-color: #fff;
    line-height: .4rem;
    padding: .2rem .1rem .1rem .2rem;
}

.order-detail .line dt {
    display: inline-block;
    width: 20%;
}

.order-detail .line dd {
    display: inline-block;
    width: 75%;
    text-align: right;
}

.order-detail .fp {
}

.order-detail .fp dt {
    display: inline-block;
    width: 20%;
}

.order-detail .fp dd {
    display: inline-block;
    width: 75%;
    text-align: right;
}

.order-detail .fp img {
    vertical-align: middle;
    margin: 0rem 0 0rem .13rem;
    height: .4rem;
}

.order-detail .fp span {
    vertical-align: middle;
}
.orderClose {
    font-size: .28rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
}
.order-detail .jinediv .jine {
    margin: 0;
}
.order-detail .jinediv dl {
    height: .6rem;
    padding: .1rem .1rem .1rem .2rem;
}
.order-detail .jinediv .jine span {
    color: #ce0000;
}

.order-detail .jinediv {
    margin-top: .25rem;
}