.shoppingc-art li{
	position: relative;
	display: table;
	padding: .2rem 0;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #e6e6e6;
	span{
		display: inline-block;
		width: 2.6rem;
		margin-right: .2rem;
	}
	img{
		// display: table-cell;
		vertical-align: middle;
		margin-left: .2rem;
	}
	img:nth-child(1){
		margin-top: .52rem;
		width: .4rem;
    }
    img:nth-child(2){
		width: 1.8rem;
		height: 1.45rem;
    }
    div.shopping-content{
    	display: table-cell;
    	vertical-align: middle;
    	width: 100%;
    	padding-right: .2rem;
    	p{
    		width: 100%;
    	}
    	p.item-title{
    		font-size: .3rem;
    		color: #333333;
    		overflow: hidden;
		    word-break: break-all;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    display: -webkit-box;
    	}
    	p:nth-child(2){
    		font-size: .26rem;
    		color: #999999;
    		line-height: 1.6;
        }
        p:nth-child(3){
    		font-size: .3rem;
    		color: #cc0000;
    		line-height: 1.6;
        }
    }

}

.shoppingc-art footer{
	position: fixed;
	bottom: 0;
	font-size: .34rem;
	background: #fff;
	width: 100%;
	height: .97rem;
	overflow: hidden;
	span.no-select-all{
		display: inline-block;
		height: 100%;
		line-height: 1rem;
		padding-left: .8rem;
		background: url(../images/shopping/no_select.png) no-repeat .2rem center;
		background-size: .4rem auto;
	}
	span.selectall{
		background: url(../images/shopping/select.png) no-repeat .2rem center;
		background-size: .4rem auto;
	}
	div{
		display: inline-block;
		height: 100%;
		line-height: 1.1rem;
		.statement{
			display: inline-block;
			color: #fff;
			width: 2.5rem;
			height: 100%;
			background: #ff6600;
			text-align: center;
		}
	}
}

.shoppingc-art + .no-list{
	position: absolute;
	top: 0;
	margin-top: 1rem;
	width: 100%;
	height: 100%;
	overflow: auto;
	color: #666666;
	text-align: center;
	background: #eee;
	button{
		padding: .08rem .2rem;
		margin-top: .2rem;
		color: #999999;
	}
	img{
		width: 1.5rem;
	}
}

/*为您推荐*/
.like-floor h3{
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    position: relative;
}
.like-floor h3::after{
	content: "";
	position: absolute;
	z-index: 9;
	height: .5rem;
	border-bottom: 2px solid #ddd;
	width: 80%;
	left: 50%;
	margin-left: -40%;
}
.like-floor h3 span{
	background: #F1F1F1;
	padding: 0 .2rem;
	color: #666;
    font-size: .3rem;
    position: relative;
    z-index: 999
}
.like-floor h6{color: #333;font-weight: 400;}
.lf-list {
  margin-left: -.3rem;
}
.lf-list li {
  box-sizing: border-box;
  float: left;
  padding: 0 0 .3rem .3rem;
  width: 50%;
  overflow: hidden;
}
.lf-list li a {
  background-color: #fff;
  display: block;
}
.lf-list li a .lf-thumb img {
  height: 3rem;
  width: auto;
  margin: auto;
}

.lf-list li a .lf-tit {
    padding: .1rem .36rem;
}

.lf-list li a .lf-tit h6 {
    font-size: .28rem;
    height: 1rem;
    overflow: hidden;
}

.lf-list li a .lf-tit p {
    color: #c00;
    font-size: .32rem;
}